* { margin: 0; box-sizing: border-box; }

body {
    background-color: #cce6ff;
}

#pic {
    position: absolute;
    width: 100%;
    height: 138px;
    z-index: -1;
}

h1 {
    color: #f2f2f2;
    text-align: center;
    font-size: 3.5em;
    padding: 45px 0 30px;
    margin: -10px 0 0;
    line-height: 25px;
    animation-name: heading-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;    
}

h1#news {
    background-color: #000050;
    font-size: 2em;
    line-height: 25px;
    padding: 15px;
}

@keyframes heading-color {
    0%   {color: white}
    50%  {color: yellow;}
    100%  {color: white}
}

h2 {
    font-size: 1.4em;
    color: #4d4d4d;
    margin: 50px 0 0 0;
    height: 30px;
    text-shadow: 2px 2px 15px darkgrey;
}

h3 {
    font-size: 1.4em;
    color: #00001a;
    margin: 10px 0 0 0;
    text-shadow: 2px 2px 15px darkgrey;
}

p {
    padding: 20px 5px;
}

.boxarea {
    height: 225px;
    width: 75%;
    margin: 20px auto;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: #4d4d4d 3px 3px;
    display: block;
    padding: 10px;
    
}

#encryption, #decipher {
    font-size: 0.75em;
}

#decoded, #input {
    font-size: 1.25em;
}

#decoded, #encryption {
    background: #000050;
    color: #ffffcc;
}

button {
    margin: 0 25px 0 10px;
    font-size: 1.2em;
    color: #4d4d4d;
    box-shadow: black 3px 3px;
    border-radius: 2px;
    font-family: Times New Roman;
}

.password {
    font-size: .8em;
    height: 25px;
    width: 145px;
    margin: 0;
    font-weight: bold;
    box-shadow: #4d4d4d 3px 3px;
    padding: 7px;
    color: grey;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
    float: left;
    width: 37.5%;
    padding: 10px;
    text-align: center;
}

.rightcolumn {
    background-color: white;
    height: 100%vh;
    text-align: left;
    padding: 40px;
    width: 25%;
    float: right;
}


div#triangle-left, div#triangle-lefttwo {
    border-top: 40px solid transparent;
    border-right: 15px solid white;
    border-bottom: 40px solid transparent;
    position: relative;
    display: inline-block;
}

div#triangle-right, div#triangle-righttwo {
    border-top: 40px solid transparent;
    border-left: 15px solid white;
    border-bottom: 40px solid transparent;
    position: relative;
    display: inline-block;
} 

.offset {
    position: absolute;
    top: 20px;
    left: 50%;
}

img {
    width: 100%;
    height: auto;
}

.line {
    margin: 20px 0;
    border-bottom: solid black 1px;
}

footer {
    background-color: #00001a;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    animation-name: heading-color;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
}