* { margin: 0; box-sizing: border-box; }

body {
    //background-image: url("../images/grass.jpg");
    //background-attachment: fixed;
    //background-size: auto;
    //width: 800px;
    margin: auto;
    //height: 450px;
}

h1 {
    display: block;
    //width: 800px;
    text-align: center;
    margin: 0px auto 0;
    background-color: darkgreen;
    color: lightgreen;
    font-size: 2em;
    //text-indent: -295px;
    padding: 20px;
    //border-radius: 40px 40px 0 0;
    //box-shadow: 12px 12px 5px #444444;
}

h2 {
    text-align: left;
    color: #003300;
    font-size: 1.25em;
    font-family: Arial;
    margin: 0 0 0 25px;
}

h3 {
    font-family: Arial;
    margin: 0 0px 20px 50px;
}

h4 {
    font-size: 1.5em;
    float: left;
    width: 33%;
    margin: 0 60px 20px 25px;
    color: #003300;
}

p {
    font-size: 1em;
    font-family: Arial;
}

.indent {
    margin 10px 50px;
}

main {
    background-color: #ccffcc;
    background: rgb(120, 200, 120);
    box-shadow: 12px 12px 5px #444444;
}

footer {
    background-color: darkgreen;
    padding: 40px;
    color: lightgreen;
    //border-radius: 0 0 40px 40px;
    box-shadow: 12px 12px 5px #444444;
    text-align: center;
}

button {
    margin: 25px;
    font-size: 1.5em;
    background-color: darkgreen;
    color: yellow;
    border-radius: 10px;
}

input {
    margin: 0 0 0 25px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
